:root {
  --light-color: #fafafa;
  --dark-bg-color: #1f2020;
  --dark-color: #1f2020;

  // --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // --transition-buttons: transform 150ms ease-in-out;
}
