<div class="education__container">
  <section>
    <h2 class="section-title" data-aos="fade-in">Education</h2>
    <ul class="education__list">
      <li
        data-aos="fade-right"
        data-aos-duration="1000"
        class="education__item"
      >
        <a href="https://op.edu.ua/" target="_blank">
          <img
            class="education__logo"
            src="./images/polytech-logo.svg"
            alt="Odesa Polytechnic logo"
          />
        </a>
        <div>
          <div class="education__title">
            <h3>National University "Odesa Polytechnic"</h3>
            <h4>2020 - 2024</h4>
          </div>

          <p class="education__text">
            Institute of Computer Systems / Information systems and technologies
          </p>
        </div>
      </li>
      <li
        data-aos="fade-right"
        data-aos-duration="1000"
        class="education__item"
      >
        <a href="https://goit.global/ua/" target="_blank">
          <img
            class="education__logo"
            src="./images/goit-logo.jpg"
            alt="Odesa Polytechnic logo"
          />
        </a>
        <div>
          <div class="education__title">
            <h3>IT School GoIT Global</h3>
            <h4>2022 - 2023</h4>
          </div>
          <p class="education__text">Junior Fullstack Developer</p>
        </div>
      </li>
    </ul>
  </section>
</div>
