<footer>
  <section class="footer-section">
    <ul class="contacts">
      <li class="contacts__item">
        <h4 class="contacts__title">Address</h4>
        <p class="contacts__text">Odesa, Ukraine</p>
      </li>
      <li class="contacts__item">
        <h4 class="contacts__title">Phone number</h4>
        <a class="contacts__text" href="tel:+380685703758"
          >+38(068) 570 37 58</a
        >
      </li>
      <li class="contacts__item">
        <h4 class="contacts__title">Email</h4>
        <a class="contacts__text" href="mailto:natashamoskv@gmail.com"
          >natashamoskv@gmail.com</a
        >
      </li>
    </ul>
    <ul class="networks__list networks__list--footer">
      <li>
        <a href="https://github.com/NaTaLiaMoSKV" target="_blank">
          <svg
            class="networks__icon networks__icon--footer"
            width="34"
            height="34"
          >
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://t.me/natalia_moskv_0" target="_blank">
          <svg
            class="networks__icon networks__icon--footer"
            width="26"
            height="26"
          >
            <use href="./images/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/natalia-moskvychova-860131266/"
          target="_blank"
        >
          <svg
            class="networks__icon networks__icon--footer"
            width="34"
            height="34"
          >
            <use href="./images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
  </section>
</footer>
