<header>
  <div class="header-images__container">
    <!-- <div class="header-user__wrapper"> -->
    <img
      class="header-user__img"
      src="./images/me.png"
      alt="Natalia Moskvychova"
    />
    <!-- </div> -->
    <img
      class="header-images__img"
      src="./images/header.jpg"
      alt="Computer and coffee"
    />
  </div>
  <div class="header-description">
    <h2 class="header-description__subtitle">Frontend Developer</h2>
    <h1 class="header-description__title">Portfolio</h1>
    <div class="header-description__text"><p>Natalia Moskvychova</p></div>
    <ul class="networks__list">
      <li>
        <a href="https://github.com/NaTaLiaMoSKV" target="_blank">
          <svg class="networks__icon" width="34" height="34">
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://t.me/natalia_moskv_0" target="_blank">
          <svg class="networks__icon" width="26" height="26">
            <use href="./images/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/natalia-moskvychova-860131266/"
          target="_blank"
        >
          <svg class="networks__icon" width="34" height="34">
            <use href="./images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img class="networks__img" alt="phone" src="./images/phone.png" />
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          <img class="networks__img" alt="email" src="./images/email.png" />
        </a>
      </li>
    </ul>
    <img class="bg-img img1" alt="bg" src="./images/decor/4.png" />
    <img class="bg-img img2" alt="bg" src="./images/decor/9.png" />
    <img class="bg-img img3" alt="bg" src="./images/decor/17.png" />
    <img class="bg-img img4" alt="bg" src="./images/decor/2.png" />
  </div>
</header>
