<header>
  <div
    class="header-image-wrapper"
    data-aos="fade-right"
    data-aos-duration="1000"
  >
    <img src="./images/me.png" alt="Natalia Moskvychova" class="header__img" />
  </div>
  <div class="header-description-wrapper">
    <h1 class="header-title" data-aos="fade-down" data-aos-duration="1000">
      My portfolio
    </h1>
    <p class="header-text" data-aos="fade-down" data-aos-duration="1000">
      I'm a Frontend Developer skilled in HTML, CSS, JavaScript, React, and
      Node.js. With experience in both team and solo projects, I’ve also taken
      on the role of Team Lead. Proactive and responsible, I’m always ready to
      support my colleagues. Quick to learn and adapt, I maintain a positive
      attitude in all situations.
    </p>
    <ul class="networks" data-aos="fade-down" data-aos-duration="1000">
      <li>
        <a href="https://github.com/NaTaLiaMoSKV" target="_blank">
          <svg class="network__icon" width="34" height="34">
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://t.me/natalia_moskv_0" target="_blank">
          <svg class="network__icon" width="26" height="26">
            <use href="./images/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/natalia-moskvychova-860131266/"
          target="_blank"
        >
          <svg class="network__icon" width="34" height="34">
            <use href="./images/symbol-defs.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
