<div class="project__container project__container--lms">
  <h3 class="lms-title" data-aos="fade-in" data-aos-duration="1000">
    Learning Management System
  </h3>
  <p class="lms-subtitle" data-aos="fade-in" data-aos-duration="1000">
    HTML, CSS, JS, React, Redux, Bootstrap, Express, MongoDB, Node.js
  </p>
  <section class="project lms-project">
    <div class="project__description">
      <h4
        class="lms-project__title"
        style="margin-bottom: 30px"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        Frontend Features
      </h4>
      <div
        class="project__wrapper"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <ul class="project-benefits__list">
          <li class="project-benefits__item--light">
            User Roles including Administrator, Teacher, and Student
          </li>
          <li class="project-benefits__item--light">
            Intuitive Dashboard with an easy-to-use control panel
          </li>
          <li class="project-benefits__item--light">
            Interactive Content featuring engaging learning materials
          </li>
          <li class="project-benefits__item--light">
            Real-time Messaging for instant communication
          </li>
          <li class="project-benefits__item--light">
            Schedule Integration allowing personalized timetable management
          </li>
          <li class="project-benefits__item--light">
            Analytics & Reporting providing in-depth performance insights
          </li>
        </ul>
        <ul class="project-links__list">
          <li class="project-links__item">
            <a
              class="project-links__link"
              target="_blank"
              href="https://github.com/NaTaLiaMoSKV/admin"
            >
              <img src="./images/icons/admin.png" alt="admin" />
            </a>
          </li>
          <li class="project-links__item">
            <a
              class="project-links__link"
              target="_blank"
              href="https://github.com/NaTaLiaMoSKV/lms-teacher"
            >
              <img src="./images/icons/teacher.png" alt="teacher" />
            </a>
          </li>
          <li class="project-links__item">
            <a
              class="project-links__link"
              target="_blank"
              href="https://github.com/NaTaLiaMoSKV/lms-student"
            >
              <img src="./images/icons/student.png" alt="student" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="project__description">
      <h4
        class="lms-project__title"
        style="margin-bottom: 30px"
        data-aos="fade-left"
        data-aos-duration="1000"
      >
        Backend Features
      </h4>
      <div
        class="project__wrapper"
        data-aos="fade-left"
        data-aos-duration="1000"
      >
        <ul class="project-benefits__list">
          <li class="project-benefits__item--light">
            User Authentication & Authorization ensuring secure access control
          </li>
          <li class="project-benefits__item--light">
            RESTful API enabling efficient data interactions
          </li>
          <li class="project-benefits__item--light">
            Custom Database providing robust data storage
          </li>
          <li class="project-benefits__item--light">
            Scalable Architecture that handles growth seamlessly
          </li>
          <li class="project-benefits__item--light">
            Automated Email Notifications delivering timely updates
          </li>
          <li class="project-benefits__item--light">
            Real-time Updates for instant information refresh
          </li>
        </ul>
        <a
          class="project__link"
          target="_blank"
          href="https://github.com/NaTaLiaMoSKV/server"
          >Github Server Link</a
        >
      </div>
    </div>
  </section>
</div>
