<div class="project__container project__container--lms">
  <h3 class="lms-title" data-aos="fade-in" data-aos-duration="1000">
    Learning Management System
  </h3>
  <p class="lms-subtitle" data-aos="fade-in" data-aos-duration="1000">
    HTML, CSS, JS, React, Bootstrap, Express, MongoDB
  </p>
  <section class="project lms-project">
    <div class="project__description">
      <h3
        class="project-title"
        style="margin-bottom: 30px"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        Frontend Features
      </h3>
      <ul
        class="project-benefits__list"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <li class="project-benefits__item--light">
          User Roles: Administrator, Teacher, Student
        </li>
        <li class="project-benefits__item--light">
          Intuitive Dashboard: Easy-to-use control panel
        </li>
        <li class="project-benefits__item--light">
          Interactive Content: Engaging learning materials
        </li>
        <li class="project-benefits__item--light">
          Real-time Messaging: Instant communication
        </li>
        <li class="project-benefits__item--light">
          Schedule Integration: Personalized timetable management
        </li>
        <li class="project-benefits__item--light">
          Analytics & Reporting: In-depth performance insights
        </li>
      </ul>
      <ul
        class="project-links__list"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <li class="project-links__item">
          <a
            class="project-links__link"
            target="_blank"
            href="https://github.com/NaTaLiaMoSKV/filmoteka"
          >
            <img src="./images/admin.png" alt="admin" />
          </a>
        </li>
        <li class="project-links__item">
          <a
            class="project-links__link"
            target="_blank"
            href="https://github.com/NaTaLiaMoSKV/filmoteka"
          >
            <img src="./images/teacher.png" alt="teacher" />
          </a>
        </li>
        <li class="project-links__item">
          <a
            class="project-links__link"
            target="_blank"
            href="https://github.com/NaTaLiaMoSKV/filmoteka"
          >
            <img src="./images/student.png" alt="student" />
          </a>
        </li>
      </ul>
    </div>
    <div class="project__description">
      <h3
        class="project-title"
        style="margin-bottom: 30px"
        data-aos="fade-left"
        data-aos-duration="1000"
      >
        Backend Features
      </h3>
      <ul
        class="project-benefits__list"
        data-aos="fade-left"
        data-aos-duration="1000"
      >
        <li class="project-benefits__item--light">
          User Authentication & Authorization: Secure access control
        </li>
        <li class="project-benefits__item--light">
          RESTful API: Efficient data interactions
        </li>
        <li class="project-benefits__item--light">
          Custom Database: Robust data storage
        </li>
        <li class="project-benefits__item--light">
          Scalable Architecture: Handles growth seamlessly
        </li>
        <li class="project-benefits__item--light">
          Automated Email Notifications: Timely updates
        </li>
        <li class="project-benefits__item--light">
          Real-time Updates: Instant information refresh
        </li>
      </ul>
      <a
        class="project__link"
        target="_blank"
        data-aos="fade-left"
        style="margin-top: 25px"
        data-aos-duration="1000"
        href="https://github.com/NaTaLiaMoSKV/filmoteka"
        >Github Server Link</a
      >
    </div>
  </section>
  <!-- <section class="lms-images">
    <img
      class="lms-image lms-image--mobile"
      src="./images/lms/mobile1.png"
      alt="lms screen"
    />
    <img
      class="lms-image lms-image--mobile"
      src="./images/lms/mobile2.png"
      alt="lms screen"
    />
    <img
      class="lms-image lms-image--mobile"
      src="./images/lms/mobile3.png"
      alt="lms screen"
    />
    <img
      class="lms-image lms-image--tablet"
      src="./images/lms/tablet.png"
      alt="lms screen"
    />
    <img
      class="lms-image lms-image--desktop"
      src="./images/lms/desktop.png"
      alt="lms screen"
    />
  </section> -->
</div>
