<div class="project__container project__container--first">
  <h2 class="section-title" data-aos="fade-in">My projects</h2>
  <section class="project">
    <div class="project__description">
      <h3 class="project-title" data-aos="fade-right" data-aos-duration="1000">
        Furniture Store
      </h3>
      <p
        class="project-subtitle"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        JavaScript, HTML, Parcel, CSS
      </p>
      <ul
        class="project-benefits__list"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <li class="project-benefits__item project-benefits__item--light">
          Beautiful Design: Stunning, visually pleasing experience
        </li>
        <li class="project-benefits__item--light">
          Responsive Layout: Perfect on all devices
        </li>
        <li class="project-benefits__item--light">
          Intuitive Navigation: Easy, seamless section switching
        </li>
        <li class="project-benefits__item--light">
          Dynamic Content: Engaging, interactive user interface
        </li>
        <li class="project-benefits__item--light">
          Rich Features: Comprehensive, informative site sections
        </li>
      </ul>
      <a
        class="project__link"
        target="_blank"
        data-aos="fade-right"
        data-aos-duration="1000"
        href="https://github.com/NaTaLiaMoSKV/furniture-store"
        >Github Link</a
      >
    </div>
    <div class="images__container">
      <a
        data-aos="fade-left"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/furniture-store/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/furniture-1.jpg"
          alt="furniture store screen"
          class="project__img project__img--desktop"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/furniture-store/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/furniture-3.jpg"
          alt="furniture store screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-left"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/furniture-store/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/furniture-4.jpg"
          alt="furniture store screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/furniture-store/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/furniture-2.jpg"
          alt="furniture store screen"
          class="project__img project__img--desktop"
        />
      </a>
    </div>
  </section>
</div>

<div class="project__container project__container--dark">
  <section class="project">
    <div class="images__container">
      <a
        data-aos="fade-right"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/marvel/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/marvel-1.jpg"
          alt="marvel screen"
          class="project__img project__img--desktop"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/marvel/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/marvel-3.jpg"
          alt="marvel screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-right"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/marvel/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/marvel-4.jpg"
          alt="marvel screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/marvel/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/marvel-2.jpg"
          alt="marvel screen"
          class="project__img project__img--desktop"
        />
      </a>
    </div>
    <div class="project__description">
      <h3 class="project-title" data-aos="fade-left" data-aos-duration="1000">
        Marvelous Adventures
      </h3>
      <p class="project-subtitle" data-aos="fade-left" data-aos-duration="1000">
        JavaScript, HTML, SCSS, Parcel, REST API
      </p>
      <ul
        class="project-benefits__list"
        data-aos="fade-left"
        data-aos-duration="1000"
      >
        <li class="project-benefits__item">
          Elegant Design: Gorgeous, visually captivating interface
        </li>
        <li class="project-benefits__item">
          Comprehensive Database: Extensive Marvel character collection
        </li>
        <li class="project-benefits__item">
          Detailed Profiles: In-depth character and comic info
        </li>
        <li class="project-benefits__item">
          Intuitive Navigation: Easy, smooth browsing experience
        </li>
        <li class="project-benefits__item">
          Marvel API Integration: Seamless access to Marvel data
        </li>
      </ul>
      <a
        class="project__link"
        target="_blank"
        data-aos="fade-left"
        data-aos-duration="1000"
        href="https://github.com/NaTaLiaMoSKV/marvel"
        >Github Link</a
      >
    </div>
  </section>
</div>

<div class="project__container project__container--third">
  <section class="project">
    <div class="project__description">
      <h3 class="project-title" data-aos="fade-right" data-aos-duration="1000">
        Questify
      </h3>
      <p
        class="project-subtitle"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        HTML, CSS, JS, REST API, Node.js, React, Redux
      </p>
      <ul
        class="project-benefits__list"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        <li class="project-benefits__item--light">
          User Registration: Easy sign-up and testing
        </li>
        <li class="project-benefits__item--light">
          Reminder Management: Add and edit reminders
        </li>
        <li class="project-benefits__item--light">
          Helpful Tooltips: Intuitive element hints
        </li>
        <li class="project-benefits__item--light">
          Responsive Design: Adaptive, visually appealing interface
        </li>
      </ul>
      <a
        class="project__link"
        target="_blank"
        data-aos="fade-right"
        data-aos-duration="1000"
        href="https://github.com/NaTaLiaMoSKV/questify"
        >Github Link</a
      >
    </div>
    <div class="images__container">
      <a
        data-aos="fade-left"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/questify/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/questify-1.jpg"
          alt="questify screen"
          class="project__img project__img--desktop"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/questify/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/questify-3.jpg"
          alt="questify screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-left"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/questify/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/questify-4.jpg"
          alt="questify screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/questify/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/questify-2.jpg"
          alt="questify screen"
          class="project__img project__img--desktop"
        />
      </a>
    </div>
  </section>
</div>

<div class="project__container project__container--dark">
  <section class="project">
    <div class="images__container">
      <a
        data-aos="fade-right"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/filmoteka/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/filmoteka-1.jpg"
          alt="filmoteka screen"
          class="project__img project__img--desktop"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/filmoteka/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/filmoteka-3.jpg"
          alt="filmoteka screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-right"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/filmoteka/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/filmoteka-4.jpg"
          alt="filmoteka screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/filmoteka/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/filmoteka-2.jpg"
          alt="filmoteka screen"
          class="project__img project__img--desktop"
          style="object-position: center"
        />
      </a>
    </div>
    <div class="project__description">
      <h3 class="project-title" data-aos="fade-left" data-aos-duration="1000">
        Filmoteka
      </h3>
      <p class="project-subtitle" data-aos="fade-left" data-aos-duration="1000">
        HTML, SASS, JS, Parcel, REST API
      </p>
      <ul
        class="project-benefits__list"
        data-aos="fade-left"
        data-aos-duration="1000"
      >
        <li class="project-benefits__item">
          Responsive Design: Adaptable to all devices
        </li>
        <li class="project-benefits__item">
          The Movie DB API: Access to extensive movie data
        </li>
        <li class="project-benefits__item">
          Movie Search: Find movies by title
        </li>
        <li class="project-benefits__item">
          Watchlist Features: Add to watched or queue
        </li>
        <li class="project-benefits__item">
          Backend Integration: Robust server-side functionality
        </li>
      </ul>
      <a
        class="project__link"
        target="_blank"
        data-aos="fade-left"
        data-aos-duration="1000"
        href="https://github.com/NaTaLiaMoSKV/filmoteka"
        >Github Link</a
      >
    </div>
  </section>
</div>
