<div class="project__container project__container--first">
  <h2 class="section-title" data-aos="fade-in">My projects</h2>
  <section class="project">
    <div class="project__description">
      <h3 class="project-title" data-aos="fade-right" data-aos-duration="1000">
        Furniture Store
      </h3>
      <p
        class="project-subtitle"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        JavaScript, React, HTML, Parcel, CSS
      </p>
      <div
        data-aos="fade-right"
        data-aos-duration="1000"
        class="project__wrapper"
      >
        <ul class="project-benefits__list">
          <li class="project-benefits__item project-benefits__item--light">
            Beautiful Design with a stunning visually pleasing experience
          </li>
          <li class="project-benefits__item--light">
            Responsive Layout working perfectly on all devices
          </li>
          <li class="project-benefits__item--light">
            Intuitive Navigation providing easy seamless section switching
          </li>
          <li class="project-benefits__item--light">
            Dynamic Content creating engaging interactive user interfaces
          </li>
          <li class="project-benefits__item--light">
            Rich Features offering comprehensive informative site sections
          </li>
        </ul>
        <a
          class="project__link"
          target="_blank"
          href="https://github.com/NaTaLiaMoSKV/furniture-store"
          >Github Link</a
        >
      </div>
    </div>
    <div class="images__container">
      <a
        data-aos="fade-left"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/furniture-store/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/furniture-1.jpg"
          alt="furniture store screen"
          class="project__img project__img--desktop"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/furniture-store/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/furniture-3.jpg"
          alt="furniture store screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-left"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/furniture-store/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/furniture-4.jpg"
          alt="furniture store screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/furniture-store/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/furniture-2.jpg"
          alt="furniture store screen"
          class="project__img project__img--desktop"
        />
      </a>
    </div>
  </section>
</div>

<div class="project__container project__container--dark">
  <section class="project">
    <div class="project__description">
      <h3 class="project-title" data-aos="fade-left" data-aos-duration="1000">
        Balloon Boutique
      </h3>
      <p class="project-subtitle" data-aos="fade-left" data-aos-duration="1000">
        HTML, SCSS, JavaScript, React
      </p>
      <div
        data-aos="fade-left"
        data-aos-duration="1000"
        class="project__wrapper"
      >
        <ul class="project-benefits__list">
          <li class="project-benefits__item">
            Cross-browser Compatibility for consistent experience on all
            platforms
          </li>
          <li class="project-benefits__item">
            Adaptive Design optimized for both desktop and mobile users
          </li>
          <li class="project-benefits__item">
            Local Storage saving user preferences and cart items
          </li>
          <li class="project-benefits__item">
            Cloud-based Image Upload for efficient and secure media handling
          </li>
          <li class="project-benefits__item">
            Integrated Payment System supporting seamless transactions
          </li>
          <li class="project-benefits__item">
            Smooth Shopping Experience with an intuitive user interface
          </li>
        </ul>
        <a
          class="project__link"
          target="_blank"
          href="https://github.com/NaTaLiaMoSKV/balloon-boutique"
          >Github Link</a
        >
      </div>
    </div>
    <div class="images__container">
      <a
        data-aos="fade-right"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/balloon-boutique/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/balloons-1.png"
          alt="balloon screen"
          class="project__img project__img--desktop"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/balloon-boutique/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/balloons-3.png"
          alt="balloon screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-right"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/balloon-boutique/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/balloons-4.png"
          alt="balloon screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/balloon-boutique/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/balloons-2.png"
          alt="balloon screen"
          class="project__img project__img--desktop"
        />
      </a>
    </div>
  </section>
</div>

<div class="project__container project__container--first">
  <section class="project">
    <div class="project__description">
      <h3 class="project-title" data-aos="fade-right" data-aos-duration="1000">
        Airpods Max
      </h3>
      <p
        class="project-subtitle"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        HTML, SCSS, JavaScript, Parcel
      </p>
      <div
        data-aos="fade-right"
        data-aos-duration="1000"
        class="project__wrapper"
      >
        <ul class="project-benefits__list">
          <li class="project-benefits__item project-benefits__item--light">
            Minimalistic Design creating a clean modern interface
          </li>
          <li class="project-benefits__item--light">
            Stunning Visuals with high-quality images of AirPods Max
          </li>
          <li class="project-benefits__item--light">
            Color Options showcasing all available model shades
          </li>
          <li class="project-benefits__item--light">
            Interactive Overview for detailed specs and zoomable images
          </li>
          <li class="project-benefits__item--light">
            Seller Contacts providing direct communication and location details
          </li>
        </ul>
        <a
          class="project__link"
          target="_blank"
          href="https://github.com/NaTaLiaMoSKV/airpods"
          >Github Link</a
        >
      </div>
    </div>
    <div class="images__container">
      <a
        data-aos="fade-left"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/airpods/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/airpods-1.png"
          alt="airpods store screen"
          class="project__img project__img--desktop"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/airpods/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/airpods-3.png"
          alt="airpods store screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-left"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/airpods/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/airpods-4.png"
          alt="airpods store screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/airpods/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/airpods-2.png"
          alt="airpods store screen"
          class="project__img project__img--desktop"
        />
      </a>
    </div>
  </section>
</div>

<div class="project__container project__container--dark">
  <section class="project">
    <div class="project__description">
      <h3 class="project-title" data-aos="fade-left" data-aos-duration="1000">
        Marvelous Adventures
      </h3>
      <p class="project-subtitle" data-aos="fade-left" data-aos-duration="1000">
        JavaScript, HTML, SCSS, Parcel, REST API
      </p>
      <div
        data-aos="fade-left"
        data-aos-duration="1000"
        class="project__wrapper"
      >
        <ul class="project-benefits__list">
          <li class="project-benefits__item">
            Elegant Design with a gorgeous visually captivating interface
          </li>
          <li class="project-benefits__item">
            Comprehensive Database featuring an extensive Marvel character
            collection
          </li>
          <li class="project-benefits__item">
            Detailed Profiles offering in-depth character and comic info
          </li>
          <li class="project-benefits__item">
            Intuitive Navigation ensuring an easy smooth browsing experience
          </li>
          <li class="project-benefits__item">
            Marvel API Integration providing seamless access to Marvel data
          </li>
        </ul>
        <a
          class="project__link"
          target="_blank"
          href="https://github.com/NaTaLiaMoSKV/marvel"
          >Github Link</a
        >
      </div>
    </div>
    <div class="images__container">
      <a
        data-aos="fade-right"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/marvel/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/marvel-1.jpg"
          alt="marvel screen"
          class="project__img project__img--desktop"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/marvel/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/marvel-3.jpg"
          alt="marvel screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-right"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/marvel/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/marvel-4.jpg"
          alt="marvel screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/marvel/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/marvel-2.jpg"
          alt="marvel screen"
          class="project__img project__img--desktop"
        />
      </a>
    </div>
  </section>
</div>

<div class="project__container project__container--third">
  <section class="project">
    <div class="project__description">
      <h3 class="project-title" data-aos="fade-right" data-aos-duration="1000">
        Questify
      </h3>
      <p
        class="project-subtitle"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        HTML, CSS, JS, REST API, Node.js, React, Redux
      </p>
      <div
        data-aos="fade-right"
        data-aos-duration="1000"
        class="project__wrapper"
      >
        <ul class="project-benefits__list">
          <li class="project-benefits__item--light">
            User Registration with easy sign-up and testing
          </li>
          <li class="project-benefits__item--light">
            Reminder Management to add and edit reminders
          </li>
          <li class="project-benefits__item--light">
            Helpful Tooltips providing intuitive element hints
          </li>
          <li class="project-benefits__item--light">
            Responsive Design featuring an adaptive visually appealing interface
          </li>
        </ul>
        <a
          class="project__link"
          target="_blank"
          href="https://github.com/NaTaLiaMoSKV/questify"
          >Github Link</a
        >
      </div>
    </div>
    <div class="images__container">
      <a
        data-aos="fade-left"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/questify/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/questify-1.jpg"
          alt="questify screen"
          class="project__img project__img--desktop"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/questify/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/questify-3.jpg"
          alt="questify screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-left"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/questify/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/questify-4.jpg"
          alt="questify screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/questify/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/questify-2.jpg"
          alt="questify screen"
          class="project__img project__img--desktop"
        />
      </a>
    </div>
  </section>
</div>

<div class="project__container project__container--dark">
  <section class="project">
    <div class="project__description">
      <h3 class="project-title" data-aos="fade-left" data-aos-duration="1000">
        Filmoteka
      </h3>
      <p class="project-subtitle" data-aos="fade-left" data-aos-duration="1000">
        HTML, SASS, JS, Parcel, REST API
      </p>
      <div
        data-aos="fade-left"
        data-aos-duration="1000"
        class="project__wrapper"
      >
        <ul
          class="project-benefits__list"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          <li class="project-benefits__item">
            Responsive Design adaptable to all devices
          </li>
          <li class="project-benefits__item">
            The Movie DB API providing access to extensive movie data
          </li>
          <li class="project-benefits__item">
            Movie Search to find movies by title
          </li>
          <li class="project-benefits__item">
            Watchlist Features for adding to watched or queue
          </li>
          <li class="project-benefits__item">
            Backend Integration ensuring robust server-side functionality
          </li>
        </ul>
        <a
          class="project__link"
          target="_blank"
          href="https://github.com/NaTaLiaMoSKV/filmoteka"
          >Github Link</a
        >
      </div>
    </div>
    <div class="images__container">
      <a
        data-aos="fade-right"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/filmoteka/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/filmoteka-1.jpg"
          alt="filmoteka screen"
          class="project__img project__img--desktop"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/filmoteka/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/filmoteka-3.jpg"
          alt="filmoteka screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-right"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/filmoteka/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/filmoteka-4.jpg"
          alt="filmoteka screen"
          class="project__img project__img--mobile"
        />
      </a>
      <a
        data-aos="fade-up"
        data-aos-duration="1000"
        href="https://nataliamoskv.github.io/filmoteka/"
        target="_blank"
        class="image__link"
      >
        <img
          src="./images/filmoteka-2.jpg"
          alt="filmoteka screen"
          class="project__img project__img--desktop"
          style="object-position: center"
        />
      </a>
    </div>
  </section>
</div>
