<div class="stack__container">
  <section>
    <h1 class="section-title" data-aos="fade-in">Technology Stack</h1>
    <ul class="stack__list">
      <li data-aos="fade-in" data-aos-duration="1000">HTML5</li>
      <li data-aos="fade-in" data-aos-duration="1000">CSS3</li>
      <li data-aos="fade-in" data-aos-duration="1000">SASS</li>
      <li data-aos="fade-in" data-aos-duration="1000">LESS</li>
      <li data-aos="fade-in" data-aos-duration="1000">Responsive design</li>
      <li data-aos="fade-in" data-aos-duration="1000">Adaptive design</li>
      <li data-aos="fade-in" data-aos-duration="1000">DOM</li>
      <li data-aos="fade-in" data-aos-duration="1000">AJAX</li>
      <li data-aos="fade-in" data-aos-duration="1000">JSON</li>
      <li data-aos="fade-in" data-aos-duration="1000">JavaScript</li>
      <li data-aos="fade-in" data-aos-duration="1000">React</li>
      <li data-aos="fade-in" data-aos-duration="1000">Redux</li>
      <li data-aos="fade-in" data-aos-duration="1000">REST API</li>
      <li data-aos="fade-in" data-aos-duration="1000">Node.js</li>
      <li data-aos="fade-in" data-aos-duration="1000">Webpack</li>
      <li data-aos="fade-in" data-aos-duration="1000">Parcel</li>
      <li data-aos="fade-in" data-aos-duration="1000">Git</li>
      <li data-aos="fade-in" data-aos-duration="1000">Next.js</li>
    </ul>
  </section>
</div>
