header {
  padding: 60px 40px 400px;
  background-image: url('../images/bg/header-mobile.png');
  color: var(--dark-color);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  background-color: #fff;
}

.header__title {
  font-size: 15lvw;
  letter-spacing: 0.02em;
  line-height: 1.1em;
  margin-bottom: 50px;
}

.header__subtitle {
  font-size: 30px;
  margin-bottom: 10px;
}

@media screen and (min-width: 530px) {
  header {
    padding: 60px;
    background-image: none;
  }

  .header__title {
    font-size: 80px;
  }
}

@media screen and (min-width: 768px) {
  header {
    background-image: url('../images/bg/header-desktop.png');
  }
  .header__title {
    max-width: 500px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    height: 600px;
    padding-left: 8lvw;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-wrapper {
    background-color: #fff;
  }
  .header__title {
    margin-top: 90px;
  }
}
