.project__container--lms {
  margin-bottom: 50px;
}

.lms-title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.04em;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.lms-subtitle {
  text-align: center;
  font-size: 17px;
  max-width: 90%;
  margin: 10px auto 40px;
}

.lms-project {
  align-items: flex-start;
  justify-content: center;
  gap: 35px;
}

.lms-project__title {
  font-size: 25px;
}

.lms-image {
  display: none;
}

.lms-images {
  margin-top: 30px;
}

.project-links__list {
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.project-links__link {
  cursor: pointer;
  background-color: #e7e7e7;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 150ms ease-in-out;
}

.project-links__link:hover {
  background-color: #f3f3f3;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.project-links__link img {
  width: 28px;
}
